.heroSearch{
    height: 90vh;
    display: grid;
    grid-template: 10vh auto / 100vw;
}
.heroSearch__card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 90vh;
    overflow: hidden;
}
.heroSearch__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form__h2{
    display: none;
}

@media (min-width: 990px){
    .heroSearch{
        height: 91vh;
        max-height: 91vh;
        display: grid;
        grid-template: 100% / 50% 50%;
        justify-content: center;
    }
    .form__h2{
        display: inline-block;
        margin-bottom: 40px;
    }
    .heroSearch__form{
        width: 20rem;
        margin: 0 auto;
    }
    .heroSearch__card{
        align-items: center;
    }
}