@media (max-width: 990px){
    .powerstats{
        position: fixed;
        bottom: 10px;
        right: 20px;
    }
}
@media (min-width: 990px){
    .powerstats{
        position: absolute;
        top: 15vh;
        right: 20px;
    }
}