.heroCard__Delete{
    min-width: 12rem;
    width: 32vh;
    margin: auto;
}

.heroCard{
    width: 12rem;
    min-width: 12rem;
}

@media (min-width: 990px){
    .heroCard__Delete{
        width: 12rem;
    }
    .heroCard{
        width: 11rem;
        max-width: 11rem;
    }
}